---
name: challenges
url: /challenges
---

<div class="grid-container">
<h1>  This is a list of challenges  </h1>

  <div ng-controller="ChallengesCtrlr as challenges">

    <div class="addChallenge">

    </div>
    <h3>Create new challenge</h3>
    <form ng-submit="challenge.create()">
      <input type="text" ng-model="challenges.new.title"  size="30" placeholder="Enter title">
      <input type="text" ng-model="challenges.new.description"  size="30" placeholder="Enter description or hint">
      <input type="text" ng-model="challenges.new.key"  size="30" placeholder="Enter your secret key">
      <input type="text" ng-model="challenges.new.message"  size="30" placeholder="Enter your secret message">
      <!--Ideally choose you location on a map  -->
      <input type="text" ng-model="challenges.new.long"  size="30" placeholder="Enter Long">
      <input type="text" ng-model="challenges.new.long"  size="30" placeholder="Enter lat">
      <!--autotmatically append date when it is sent  -->
      <input class="btn-primary" type="submit" value="Create">
    </form>




      <div id="map_canvas">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
          <!-- <div ng-repeat="(key, challenge) in challenges.list"> -->
            <ui-gmap-marker ng-repeat="(key, challenge) in challenges.list" coords="challenge.coords" idkey="key"></ui-gmap-marker>
          <!-- </div> -->
      </ui-gmap-google-map>
    </div>



    <p>
      {{challenges.example}}
    </p>

    <div ng-repeat="(key, challenge) in challenges.list">
      <h2 >{{challenge.title}}</h2>
      <p>{{challenge.description}}</p>
      <p>{{challenge.winner}}</p>
      <p>{{challenge.date}}</p>
      <!-- Address is the key -->
      [ <a href="" ng-click="challenges.goTo(key)">View Challenge</a> ]
    </div>

  </div>
</div>




<!-- <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div> -->
