---
name: challenges
url: /challenges
animationIn: slideInLeft
---

<div class="challenges">

  <div ng-controller="ChallengesCtrlr as challenges">

    <div class="sidebar">

      <h2 class="page-title">  Nearby Challenges  </h2>

      <div ng-repeat="(key, challenge) in challenges.list" class="item">
        <div class="type"><img src="assets/images/cache.png" alt="" /></div>

        <div class="text">
          <a href="" ng-click="challenges.goTo(key)"><h3 class='title'>{{challenge.title}}</h3></a>
          <p class='description'>{{challenge.description}}</p>
          <p class ='winner'>Winner: {{challenge.winner}}</p>
          <p class='date'>{{challenge.date}}</p>
        </div>
        <!-- Address is the key -->
        <!-- [ <a href="" ng-click="challenges.goTo(key)">View Challenge</a> ] -->
      </div>

    </div>




    <div class="right">
      <div class="map_canvas" style="height: {{$window.height}}">
        <!-- map.center -->
        <ui-gmap-google-map style="height: {{$window.height}}" center="map.center" zoom="map.zoom" draggable="true" options="options" events='map.events' on-click='addPosClick()'>
            <!-- <div ng-repeat="(key, challenge) in challenges.list"> -->
            <ui-gmap-marker ng-repeat="(key, challenge) in challenges.list" coords="challenge.coords" idkey="key"></ui-gmap-marker>
            <!-- </div> -->
          </ui-gmap-google-map>
      </div>
    </div>


  </div>
</div>




<!-- <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div> -->
