---
name: challenge
url: /challenge/:id
animationIn: slideInLeft
---



<div class="challenge" ng-controller="ChallengeCtrlr as challenge">
  <div class="map_canvas">
    <!-- map.center -->
    <!-- "{latitude: '40.656936', longitude: '-73.895685'}" -->
    <ui-gmap-google-map center="challenge.data.coords" zoom="17" draggable="true" options="options">
        <!-- <div ng-repeat="(key, challenge) in challenges.list"> -->
        <ui-gmap-marker coords="challenge.data.coords" idkey="$state.params.id"></ui-gmap-marker>
        <!-- </div> -->
      </ui-gmap-google-map>
  </div>

  <div class="grid-container row">

    <h2 class='title'>{{challenge.data.title}}</h2>
    <p class='description'>{{challenge.data.description}}</p>
    <!-- <h5>Winner:</h5> -->
    <p>Winner: {{challenge.data.winner}}</p>
    <p>{{challenge.data.date}}</p>

    <div class="large-8">

      <form ng-submit="challenge.submitSolution()">

        <input type="text" ng-model="challenge.solution"  size="30" placeholder="Enter Solution">
        <input class="btn-primary" type="submit" value="Enter">
      </form>
    </div>
  </div>
  </div>
