---
name: home
url: /
---

<!-- <div class="grid-container">

<div ng-controller="IndexCtrlr as login">
  <h2>This home page now</h2>
  [ <a href="/#!/login">Login</a> ]

</div>
</div> -->

<div class="homepage"  ng-controller="IndexCtrlr as index">

  <!-- <div id="header-fixed"></div> -->

  <!-- <div class="highlight"></div> -->

<!-- INTRO SECTION +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <div class="main-bg">


    <div class="intro grid-content">

      <div class="row">
      <div class="large-10 small-12 small-centered columns" style='padding-left: 70px;'>
  	     <h1 class="title-top">LOST SCAVENGERS</h1>
       </div>
     </div>

       <div class="row">
       <div class="large-9 small-12 small-centered columns" style='padding-left: 120px;'>
  	      <h2 class="what"> Place physical challenges around the city in the form of passwords, messages, and riddles. Find these physical pieces allow you to unlock tokens, decrypt messages and access other contract functionality</h2>
      </div>
      </div>

      <!-- <div class="large-8 small-12 columns small-centered"> -->
      <div class="row">
        <div class="large-9 small-12 small-centered columns" style='padding-left: 290px;'>
            <form ng-submit="index.login()">
    	       <input id="button-email" type="submit" class="btn" value="Login"/>
	         </form>
        </div>
      </div>



	   <!-- <div class="down-arrow small-1 columns small-centered hide-for-small-only"></div>
    </div> -->
    </div>


  </div>
</div>
